#carouselExampleDark, .carousel-inner, img{
    height: 500px;
    margin: 0 auto;
}
.carousel-inner{
    background-image: url(../../../assets/34579-metalicos.jpg);
    background-repeat: no-repeat;
}