<div class="jumbotron">
    <h1 class="display-4">ANGULAR II RUTAS<img src="../../../assets/icoAngular.png" /></h1>
    <p class="lead">Para la navegacion y las rutas, los recursos necesarios serán: <br><br>
      ↯ El Routes, en Angular nos permite implementar navegación en nuestra aplicación.
      Podemos asignar, vistas/componentes para cada url que deseemos. Tambíen permite
      enviar y recibir parámetros.</p>
      <p class="lead">↯ RouterModule, para poder agregar directamente un nuevo componente que vaya a tener
      su propia ruta asignada</p>
    <hr class="my-4">
    <p>en la etiqueta 'a' de angular: routerLink="/" junto con el routerLinkActive que
      nos permite resalatar el enlace
    </p>
    
    <a class="btn btn-primary btn-lg" href="#" role="button">Aprende más...</a>
  </div>
